h1, p {
  font-family: Arial, sans-serif;
}

p {
  font-family: Arial, sans-serif;
}

.title-image2 {
  background-image: linear-gradient(to left, #e8a93c, #9be2b3, #9bd1e2, #b84fd2);
  height: 100vh;
  width: 100%;

  background-position: left;
  background-size: 300%, 300%;
  position: absolute;

  animation: bg-animation 12s infinite alternate ease-in;

}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.title {
  background-image: url("../images/world-colourful.png");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.title h1 {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 100px;
  text-shadow: 1px 1px 10px black;
  text-align: center;
  line-height: 100vh;
  color: #fff;
}

.footer {
  font-size: 10px;
  opacity: 0.5;
  text-align: center;
  background-color: #eee;
  padding: 10px;
  position: absolute;
    width: 100%;
    top: 102vh;
}
